{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array  service             Open311 Service information array
 * @param string group_code
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="container w-75 my-3">
    <header class="d-flex flex-wrap align-items-baseline">
        <h2 class="me-auto">{{ service.group }}</h2>
        <nav class="d-flex align-items-baseline" aria-label="Report Steps">
            <span class="me-2">Progress:</span>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{ uri('home.index') }}">1</a>
                <li class="page-item"><a class="page-link" href="{{ uri('home.service', {'group_code':group_code}) }}">2</a>
                <li class="page-item active"  ><a class="page-link">3</a>
                <li class="page-item disabled"><a class="page-link">4</a>
            </ul>
        </nav>
    </header>
    <h3>{{ service.service_name }}</h3>
    <p>{{ service.description  }}</p>
    <form method="post">
        <fieldset>
            <legend>Contact Information</legend>
            <p>By leaving the fields below empty, <strong>you may submit anonymously</strong>.</p>
            <p><strong>Note:</strong> <i>Information you provide through uReport is stored and retained by the City as a public record.</i></p>

            <div class="form-group">
                <label  for="first_name">First Name:</label>
                <input name="first_name" id="first_name" placeholder="First Name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input name="last_name" id="last_name" placeholder="Last Name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input name="phone" id="phone" type="tel" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input name="email" id="email" type="email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
        </fieldset>
    </form>
</section>
<script>
function saveInput(event) {
    let input = event.target;
    localStorage.setItem(input.getAttribute('id'), input.value);
}
for (const f of ['first_name', 'last_name', 'email', 'phone']) {
    let i = document.getElementById(f);

    i.value = localStorage.getItem(f);
    i.addEventListener('change', saveInput);
}
</script>

{% endblock %}
