{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array  service             Open311 Service information array
 * @param string group_code
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <nav>Progress:
            <a href="{{ uri('home.index') }}">1</a>
            <a href="{{ uri('home.service', {'group_code':group_code}) }}">2</a>
            <a inert="true" class="current">3</a>
            <a inert="true">4</a>
        </nav>
        <h2>{{ service.group        }}</h2>
        <h3>{{ service.service_name }}</h3>
         <p>{{ service.description  }}</p>
    </header>

    <form method="post">
        <fieldset>
            <legend>Contact Information</legend>
            <p>By leaving the fields below empty, <strong>you may submit anonymously</strong>.</p>
            <p><strong>Note:</strong> <i>Information you provide through uReport is stored and retained by the City as a public record.</i></p>

            <div>
                <label  for="first_name">First Name:</label>
                <input name="first_name" id="first_name" placeholder="First Name" />
            </div>
            <div>
                <label for="last_name">Last Name:</label>
                <input name="last_name" id="last_name" placeholder="Last Name" />
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input name="phone" id="phone" type="tel" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input name="email" id="email" type="email" />
            </div>
            <button type="submit">Next</button>
        </fieldset>
    </form>
</section>
<script>
function saveInput(event) {
    let input = event.target;
    localStorage.setItem(input.getAttribute('id'), input.value);
}
for (const f of ['first_name', 'last_name', 'email', 'phone']) {
    let i = document.getElementById(f);

    i.value = localStorage.getItem(f);
    i.addEventListener('change', saveInput);
}
</script>

{% endblock %}
