{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array  service             Open311 Service information array
 * @param array  attributes          Open311 definition of custom fields
 * @param string group_code
 * @param string google_maps_api_key
 * @param float  default_latitude
 * @param float  default_longitude
 * @param string first_name
 * @param string last_name
 * @param string email
 * @param string phone
#}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section id="requestForm">
    <header>
        <nav>Progress:
            <a href="{{ uri('home.index') }}">1</a>
            <a href="{{ uri('home.service', {'group_code':group_code}) }}">2</a>
            <a href="{{ uri('home.contact', {'group_code':group_code, 'service_code':service.service_code}) }}">3</a>
            <a inert="true" class="current">4</a>
        </nav>
        <h2>{{ service.group        }}</h2>
        <h3>{{ service.service_name }}</h3>
         <p>{{ service.description  }}</p>
    </header>

    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Service request location:</legend>
            <div id="map_container">
                <div id="map"></div>
                <div id="crosshairs"></div>
            </div>
            <label for="address_string">Address</label>
            <input name="address_string" id="address_string" value="" />
            <input name="lat"            id="lat"            type="hidden" value="" />
            <input name="long"           id="long"           type="hidden" value="" />
        </fieldset>
        <fieldset>
            <legend>General information:</legend>
            <div>
                <label  for="media">Include Image:</label>
                <input name="media" id="media" type="file" accept="image/*" />
            </div>
            <div>
                <label for="description">Describe this issue:</label>
                <textarea name="description" id="description"></textarea>
            </div>
        </fieldset>

        {% if attributes %}
        <fieldset>
            {% for a in attributes %}
            <div><label for="{{ a.code }}">{{ a.description }}</label>
                 {% if a.datatype=="string" %}
                 <input name="{{ a.code }}" id="{{ a.code }}" {{ a.required ? 'required="true"' : '' }} />
                 {% elseif a.datatype=="text" %}
                 <textarea name="{{ a.code }}" id="{{ a.code }}" {{ a.required ? 'required="true"' : '' }}></textarea>
                 {% elseif a.datatype=="number" %}
                 <input name="{{ a.code }}" id="{{ a.code }}" type="number" {{ a.required ? 'required="true"' : '' }} />
                 {% elseif a.datatype=="datetime" %}
                 <input name="{{ a.code }}" id="{{ a.code }}" type="datetime" {{ a.required ? 'required="true"' : '' }} />
                 {% else %}
                 <select name="{{ a.code }}" id="{{ a.code }}"
                         {{ a.datatype=="multivaluelist" ? 'multiple="true"' : '' }}
                         {{ a.required ? 'required="true"' : '' }}>
                    {{ a.datatype=='singlevaluelist' ? '<option value=""></option>' : '' }}
                    {% for f in a.values %}
                    <option value="{{ f.key }}">{{ f.name }}</option>
                    {% endfor %}
                 </select>
                 {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        {% endif %}

        <fieldset>
            <input type="hidden" name="first_name"   value="{{ first_name }}" />
            <input type="hidden" name="last_name"    value="{{ last_name  }}" />
            <input type="hidden" name="phone"        value="{{ phone      }}" />
            <input type="hidden" name="email"        value="{{ email      }}" />
            <input type="hidden" name="service_code" value="{{ service.service_code }}" />
            <button type="submit">Submit</button>
        </fieldset>
    </form>

</section>
<script>
    const DEFAULT_LATITUDE  = {{ default_latitude }},
          DEFAULT_LONGITUDE = {{ default_longitude }};
</script>
<script async src="https://maps.googleapis.com/maps/api/js?libraries=maps,places&key={{ google_maps_api_key }}&v=weekly&callback=initMap"></script>
<script src="{{ BASE_URI }}/js/map.js"></script>
<script src="{{ BASE_URI }}/js/form.js"></script>
{% endblock %}
